Consider following code to answer further questions:

In [1]:
import pandas as pd
course_name = ['Data Science','Machine Learning','Big Data','Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
print(df)

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [3]:
second_row = df.iloc[1]
print(second_row)

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

In pandas, loc and iloc are both used for indexing and selecting data in a DataFrame, but they have different ways of specifying the location of the data:

1)loc: Label-based indexing

loc is primarily used for selecting data by specifying the row and column labels.
It uses label names to reference rows and columns. You provide the row label(s) and column label(s) you want to select.
It includes the endpoint when selecting ranges of data.

In [4]:
df.loc[1, 'duration']  # Selects the value in the row with label 1 and the 'duration' column.

3

2)iloc: Integer-based indexing

iloc is used for selecting data by specifying integer-based positions.
It uses integer row and column positions, where indexing starts at 0.
It does not include the endpoint when selecting ranges of data.

In [5]:
df.iloc[1, 1]  # Selects the value in the second row (index 1) and the second column (index 1).

3

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [7]:
import pandas as pd
course_name = ['Data Science','Machine Learning','Big Data','Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

reindex = [3,0,1,2]
new_df = df.reindex(reindex)

print(new_df)

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [8]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [10]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

 Here new_df.loc[2] selects the row with the label "2" in the index,
 
 while new_df.iloc[2] selects the row with the position (integer-based index) "2."

Consider the below code to answer further questions:

In [13]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

Q4. Write a code to find the following statistical measurements for the above dataframe df1:

(i) mean of each and every column present in the dataframe.

In [15]:
df1[['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']].mean()

column_1    0.388794
column_2    0.558085
column_3    0.458814
column_4    0.475621
column_5    0.553851
column_6    0.430106
dtype: float64

(ii) standard deviation of column, ‘column_2’

In [16]:
df1['column_2'].std()

0.26027099768112755

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.

If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [27]:
df1.loc['column_2',]= 'ashoka'

In [25]:
df1

          column_1  column_2  column_3  column_4  column_5  column_6
1         0.896427  0.445562   0.55828  0.022507  0.418951  0.018163
2          0.72233   0.56483  0.318431  0.599443  0.892203   0.34425
3         0.086181  0.536573  0.715754  0.626921   0.59656  0.729189
4         0.435104   0.98351  0.155664  0.678717   0.13935   0.75002
5         0.057387  0.632745  0.122718   0.70114  0.993387   0.50723
6         0.135334  0.185292  0.882035     0.225  0.282657  0.231788
column_2    ashoka    ashoka    ashoka    ashoka    ashoka    ashoka

In [29]:
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

In pandas, the window functions are used for performing operations on a sliding or rolling window of data in a Series or DataFrame. These functions are incredibly useful for time series data, as well as for various other types of data analysis and manipulation tasks. The basic idea is to apply a function to a specified window of data and then move that window through the data to generate a new series of results.

Here's an overview of the window functions in pandas and some of the most commonly used types of window functions:

Rolling Windows:

rolling(): This function creates a Rolling object that can be used to perform rolling window operations. You can specify the window size and apply various aggregation functions like sum(), mean(), min(), max(), and more.

Window Functions with Custom Functions:

apply(): You can create custom functions and apply them to windows of data using the apply() method in combination with rolling or expanding windows. This allows you to perform more complex operations on your data.

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [31]:
import pandas as pd

# Get the current date and time
current_datetime = pd.Timestamp.now()

# Extract the current month and year
current_month = current_datetime.month
current_year = current_datetime.year
current_day = current_datetime.day

# Print the current month and year
print(f"Current Month: {current_month}")
print(f"Current Year: {current_year}")
print(f"Current day: {current_day}")

Current Month: 9
Current Year: 2023
Current day: 23

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [1]:
import pandas as pd

# Function to get a valid date input from the user
def get_valid_date_input(prompt):
    while True:
        try:
            date_str = input(prompt)
            date_obj = pd.to_datetime(date_str)
            return date_obj
        except ValueError:
            print("Invalid date format. Please use YYYY-MM-DD.")

# Input from the user for two dates
print("Enter the first date (YYYY-MM-DD):")
date1 = get_valid_date_input("Date 1: ")

print("Enter the second date (YYYY-MM-DD):")
date2 = get_valid_date_input("Date 2: ")

# Calculate the time difference
time_difference = date2 - date1

# Extract days, hours, and minutes
days = time_difference.days
hours, remainder = divmod(time_difference.seconds, 3600)
minutes, _ = divmod(remainder, 60)

# Display the result
print(f"Time difference between Date 1 and Date 2:")
print(f"Days: {days}, Hours: {hours}, Minutes: {minutes}")

Enter the first date (YYYY-MM-DD):
Date 1: 2023-09-23
Enter the second date (YYYY-MM-DD):
Date 2: 2024-03-31
Time difference between Date 1 and Date 2:
Days: 190, Hours: 0, Minutes: 0

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [2]:
import pandas as pd

# Function to read CSV file and convert a specified column to categorical
def convert_column_to_categorical(file_path, column_name, category_order):
    try:
        # Read the CSV file
        df = pd.read_csv(file_path)

        # Convert the specified column to categorical
        df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

        # Sort the DataFrame by the categorical column
        df.sort_values(by=column_name, inplace=True)

        # Display the sorted DataFrame
        print("Sorted Data:")
        print(df)

    except FileNotFoundError:
        print("File not found. Please check the file path.")
    except KeyError:
        print("Column not found. Please check the column name.")

# Prompt the user for file path, column name, and category order
file_path = input("Enter the file path of the CSV file: ")
column_name = input("Enter the name of the column to convert to categorical: ")
category_order = input("Enter the category order (comma-separated): ").split(',')

# Call the function to perform the conversion and display the sorted data
convert_column_to_categorical(file_path, column_name, category_order)

Enter the file path of the CSV file: Titanic-Dataset.csv
Enter the name of the column to convert to categorical: Fare
Enter the category order (comma-separated): meadium,low,high
Sorted Data:
     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket Fare Cabin Embarked
0        0         A/5 21171  NaN   NaN        S
1        0          PC 17599  NaN   C85        C
2        0  STON/O2. 3101282  NaN   NaN        S
3        0            113803  NaN  C123        S
4        0            373450  NaN   NaN        S
..     ...               ...  ...   ...      ...
886      0            211536  NaN   NaN        S
887      0            112053  NaN   B42        S
888      2        W./C. 6607  NaN   NaN        S
889      0            111369  NaN  C148        C
890      0            370376  NaN   NaN        Q

[891 rows x 12 columns]

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.